.memeContainer {
    display: block;
    justify-content: center;
    align-items: center;
    height: 300px;
    width: 500px;
    margin: 0 auto;
    border-radius: 40px;
    padding: 1.2rem 2rem;
    font-family: 'Nunito';
  }
  