.memeCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--bs-bg-secondary);
  color: var(--bs-body-color);
  align-items: center;
  margin: 30px auto;
  padding-top: 30px;
  font-size: 20px;
  width: 500px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.4);

  &__likes {
    font-size: 30px;
  }

  &__votes {
    margin-bottom: 20px;
    display: flex;
    width: 300px;
    justify-content: space-between;
    align-items: center;
  }

  &__img {
    width: 350px;
    height: auto;
    margin: 20px;
  }
}
@media (max-width: 767px) {
  .memeCard {
    width: 100%;
    font-size: 16px;

    &__img {
      width: 90%;
    }
  }
}
