* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root{
	
  /* Light Mode */
  --bg--light: #fff;
  --txt--light: #2f2e30;
  --btn--light: #34A9D1;
  --btn--light-hover: #77298e;

  
  /* Dark mode */
  --bg--dark: #2f2e30;
  --bg-s-dark: #262528;
  --txt--dark: #b0adad;
  --btn--dark: #77298e;
  --btn--dark-hover: #34A9D1;

  }
  
  
  :root[color-scheme="light"]{
    /* body background color */
    --bs-body-bg: var(--bg--light);	
    --bs-bg-secondary: var(--bg-s-light);
    /* txt color	 */
    --bs-body-color: var(--txt--light);
    --bs-btn-color: var(--btn--light);
    --bs-btn-hover: var(--btn--light-hover);
    color-scheme: light;
  }
  
  :root[color-scheme="dark"]{
    --bs-body-bg: var(--bg--dark);
    --bs-bg-secondary: var(--bg-s-dark)
    --bs-body-color: var(--txt--dark);
    --bs-btn-color: var(--btn--dark);
    --bs-btn-hover: var(--btn--dark-hover);
    color-scheme: dark;
  }
  
  