.vote-likeBtn,
.vote-dislikeBtn {
  margin: 0 10px;
  cursor: pointer;
  font-size: 30px;
  border-style: none;
  color: var(--bs-body-color);
  background-color: transparent;
  transition: transform 0.1s;

  &:hover,
  &:focus {
    color: #77298e;
    outline: none;
  }

  &:active {
    transform: translateY(-5px);
  }
}
